<footer class="footer min-vh-100 pt-2 mt-5">
    <div class="container d-flex flex-column align-items-center">
        <div class="mt-5 mb-3 d-flex flex-column align-items-center">
            <img src="/images/logo.png" alt="IaCore Logo" height="120" class="mb-2" />
        </div>
        <h1 class="footer__title fw-bold text-center mb-4">
            Mais <span class="orange">eficiência</span> no seu atendimento
        </h1>
        <p class="footer__desc text-center gray mb-2">
            Damos vida à sua visão com criatividade e precisão. Vamos fazer acontecer.
        </p>
        <a href="#" class="footer__contact-link btn btn-link orange-btn fw-semibold mb-3"
            >Entre em contato <span aria-hidden="true">↗</span></a
        >
        <nav class="mb-3">
            <ul class="footer__nav nav justify-content-center gap-4 fs-5">
                <li class="nav-item">
                    <a class="nav-link px-2 text-dark" href="#beneficios">Benefícios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-dark" href="#recursos">Recursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-dark" href="#depoimentos">Depoimentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2 text-dark" href="#faq">FAQ</a>
                </li>
            </ul>
        </nav>
        <div class="footer__copyright text-center text-muted small mt-2 fs-5">
            Copyright IA Core 2025. Todos os direitos reservados.
        </div>
    </div>
</footer>
